////
/// Site footer object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-footer {
	background-color: $color--gray-500;
	background-image: url("../img/father-and-son.png");
	background-size: contain;
	background-position-x: right;
	background-repeat: no-repeat;
	background-position-y: 10px;
	background-blend-mode: overlay;

	margin-top: auto;
	border-top: $base--border;
	position: relative;
	z-index: 999;
	& > .wrap {
		flex-direction: column;
	}
}
