////
/// Site footer object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-footer {
	background-color: $color--gray-500;
	margin-top: auto;
	border-top: $base--border;
	& > .wrap {
		flex-direction: column;
	}
}
