////
/// Site inner object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-inner {
	// background-color: $color--white;
	// background-image: url("../img/racer.png");
	// background-position: bottom left;
	// background-size: 320px;
	// background-repeat: no-repeat;
	// background-blend-mode: luminosity;
	@include mq(m) {
		display: flex;
		flex: 1;
		flex-direction: column;
		margin-top: $spacing--xxl * 2;
		.home & {
			margin-top: 100px;
		}
	}

	.no-hero-section.transparent-header &,
	.no-hero-section.sticky-header & {
		margin-top: $spacing--xl * $perfect-fifth;

		@include mq(m) {
			margin-top: $spacing--xxl;
		}
	}
}
