////
/// Site header object.
///
/// @group  Objects
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.site-header {
	position: fixed;
	z-index: 10;
	// border-bottom: $base--border;
	background-color: $color--white;
	background-image: url("../img/bg-nav.jpg");
	background-size: cover;
	&:before {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba($color--gray-900, 0.8);
		width: 100%;
		height: 100%;
	}
	.wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		position: relative;
		z-index: 9;

		@include mq(m) {
			flex-wrap: nowrap;
		}
	}
}
