////
/// Before header component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.before-header {
	padding: $spacing--xxs 0;
	border-bottom: $base--border;
	background-color: darken($color--background, 10);
	font-size: small;
	line-height: 1;
	position: relative;
	z-index: 9;

	.wrap {
		align-items: center;
	}

	.widget {
		margin-bottom: 0;
	}

	p,
	button,
	.button {
		margin-bottom: 0;
	}

	.widget_custom_html {
		display: flex;
		justify-content: flex-end;
		width: 100%;
	}
}
