////
/// Title area component.
///
/// @group  Components
/// @author Lee Anthony <seothemeswp@gmail.com>
/// @link   https://github.com/seothemes/genesis-starter-theme
////

.title-area {
	line-height: $line-height--heading;
	padding: 0 $spacing--xxs;
	// @include padding(0 $spacing--xxs);
	@include padding($spacing--s 0);
	width: 100px;

	@include mq(m) {
		// @include padding($gap null);
		// position: absolute;
		// top: 4px;
		// filter: drop-shadow(0 4px 2px rgba($color--gray-900, 0.7));

		.sticky & {
			transition: all 0.5s ease-in-out;
			filter: drop-shadow(0 4px 2px rgba($color--gray-900, 0.7));
		}
	}
}

// Site title.
.site-title {
	margin: 0;
	font-size: 1em;
	font-weight: $font-weight--semibold;

	.wp-custom-logo & {
		@include hide-visually;
	}

	a {
		color: $color--text;

		@include hover-focus {
			color: $color--primary;
		}
	}
}

// Site description.
.site-description {
	margin: 0;
	font-size: small;

	.wp-custom-logo & {
		@include hide-visually;
	}
}

// Custom logo.

.custom-logo {
	width: 100%;

	&-link {
		display: flex;
		align-items: center;
	}
}
